body{
    width: 940px;
    background:#cce2e4;
}
.cabeza{
    margin: 20px;
}

.principal{
 position: absolute;
 top:80px; 
 left: 220px;
 

 width:500px;
 height:300px;
 

}
.texto-principal{
    text-indent: 7em;
    font-size:20px ;
    border-radius: 20px;
    border: 3px double #ccc;
    background: #fffeee;
    
 }
.apartado{
    width: 300px;
    height: 600px;

    position: absolute;
    top:30px; 
    right: 35px ;

border-radius: 20px;
border: 5px double #eaefc8;
background: #e1ede0;

}
.texto-apartado{
    font-size: 20px ;
    display: block;
    margin: 10px auto;
    border-radius: 18px;
    border: 3px double #eaefc8;
    background: #e1ede0;
}
.texto-apartado:active{
    border: 3px double #eaefc8;
}
.imagen-apartado{
   margin: 20px 50px;
}
.boton{
    position: absolute;
    bottom: 60px;
   left: 190px;
}
.boton-encriptador{
width: 200px;
height: 40px;
background: #006464;
font-weight: bold;
 color: white ;
 border-radius: 20px ;
 border: 3px double #e1ede0;
}
.boton-encriptador:active{
    background: #000;
}
.boton-desencriptador{
    margin-left: 220px;
    width: 200px;
    height: 40px;
    background: #48a3a7;
    font-weight: bold;
    color: white ;
    border-radius: 20px ;
    border: 3px double #e1ede0;
}