body{
    width: 940px;
    background:/*#cce2e4 #37023a*/ url(imagenes/peakpx.jpg);
}
.cabeza{
    margin: 20px;
}

.principal{
 position: absolute;
 top:80px; 
 left: 220px;
 

 width:500px;
 height:300px;
 

}
.texto-principal{
    text-indent: 7em;
    font-size:20px ;
    border-radius: 20px;
    border: 3px double #e1ede0;
    background: /*#fffeee*/ #e1ede0;
    
 }
.apartado{
    width: 300px;
    height: 600px;

    position: absolute;
    top:30px; 
    right: 35px ;

border-radius: 20px;
border: 5px double #e1ede0;
background: /*#e1ede0*/#af9ab0;
background: url(imagenes/fondo-apartado.avif);

}
.texto-apartado{
    font-size: 18px ;
    font-family: "Space Mono";
    display: block;
    margin: 10px auto;
    border-radius: 18px;
    border: 3px double #af9ab0;
    background: #e1ede0;
}

.imagen-apartado{
   margin: 20px 50px 80px 50px;

}
.boton-copiar{
  margin: 65px 40% 20px ;
  font-family: 'BioRhyme', serif;
  font-weight: bold;
  color: white;
  background: url(imagenes/boton-copiar3.jpg);
  padding: 5px 10px;
  border-radius: 15px;
  border: 3px double #e1ede0
}
.boton-copiar:active{
    

}
.boton{
    position: absolute;
    bottom: 60px;
   left: 190px;

   
}
.boton-encriptador{
width: 200px;
height: 40px;
/*background: #006464 #64066b;*/
background: url(imagenes/boton.jpg);
font-weight: bold;
font-family: 'BioRhyme', serif;
 color: white ;
 border-radius: 20px ;
 border: 3px double #e1ede0;
}
.boton-encriptador:active{
   
    color:#000;
    border: 3px double #f82e86;
    font-size:15px;
}
.boton-desencriptador{
    margin-left: 220px;
    width: 200px;
    height: 40px;
    /*background: #48a3a7#7e0885;*/
    background: url(imagenes/boton2.jpg);
    font-weight: bold;
    font-family: 'BioRhyme', serif;
    color: white ;
    border-radius: 20px ;
    border: 3px double #e1ede0;
}
.boton-desencriptador:active {

    color:#000;
    border: 3px double #f82e86;
    font-size:15px;
}